In [18]:
# DemoPandas.ipynb
# ipythonnotebook ==> jupyter notebook 
from pandas import Series, DataFrame
import pandas as pd

# 시리즈 객체는 하나의 컬럼을 의미
myCampus=Series([100,200,300,400,500],
                index=["2024-10-01","2024-10-02","2024-10-03","2024-10-04","2024-10-05"])
myCampus

2024-10-01    100
2024-10-02    200
2024-10-03    300
2024-10-04    400
2024-10-05    500
dtype: int64

In [19]:
# 슬라이싱
myCampus["2024-10-02"]

200

In [20]:
# 데이터 프레임 : 다중의 행과 열
data = {"col1":[1,2], "col2":[3,4]}
frame1=DataFrame(data=data, index=["2024-10-01","2024-10-02"])
frame1

            col1  col2
2024-10-01     1     3
2024-10-02     2     4

In [21]:
# column 슬라이싱
frame1["col1"]

2024-10-01    1
2024-10-02    2
Name: col1, dtype: int64

In [22]:
# 행 슬라이싱
frame1.loc["2024-10-01"]

col1    1
col2    3
Name: 2024-10-01, dtype: int64

In [23]:
data={"foreigner":[1,2,3,4,5,6],
      "sratio":[10,20,30,40,50,60],
      "org":[100,200,300,400,500,600],
      "sprice":[1,2,3,4,5,6],
      "private":[10,20,30,40,50,60]
      }

# 데이터 프레임 생성
frame2=DataFrame(data=data)
frame2.shape
frame2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   foreigner  6 non-null      int64
 1   sratio     6 non-null      int64
 2   org        6 non-null      int64
 3   sprice     6 non-null      int64
 4   private    6 non-null      int64
dtypes: int64(5)
memory usage: 368.0 bytes

In [26]:
# 컬럼의 순서를 지정
frame3=DataFrame(data,
                 columns=["foreigner","private","org","sratio","sprice"],
                 )

# 컬럼 슬라이싱
frame3["private"]
print(type(frame3["private"]))

# 인덱스를 수정
frame4=DataFrame(data,columns=["foreigner","private","org","sratio","sprice"],
                 index=["2024-10-01","2024-10-02","2024-10-03","2024-10-04","2024-10-05","2024-10-06"])

# 행 슬라이싱
#frame4.loc["2024-10-01"]

frame4.T

<class 'pandas.core.series.Series'>

,2024-10-01,2024-10-02,2024-10-03,2024-10-04,2024-10-05,2024-10-06
foreigner,1,2,3,4,5,6
private,10,20,30,40,50,60
org,100,200,300,400,500,600
sratio,10,20,30,40,50,60
sprice,1,2,3,4,5,6